# -----------------------
# Flutter & Dart
# -----------------------
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.metadata

# -----------------------
# OS / IDE
# -----------------------
.idea/
.vscode/
*.iml

# -----------------------
# Env files
# -----------------------
.env
*.env
.env.*

# -----------------------
# Firebase keys
# -----------------------
serviceAccountKey.json
*.key.json
*.secret.json

# Firebase configs (optional ignore)
.firebaserc

# -----------------------
# Android build
# -----------------------
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# -----------------------
# iOS build
# -----------------------
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/build/

# -----------------------
# Web build
# -----------------------
web/.dart_tool/
web/.firebase/

# -----------------------
# Linux/MacOS/Windows build
# -----------------------
linux/build/
macos/Pods/
macos/build/
windows/build/
